Examenes resueltos/Bloque 3/p1ClientSOAP/web/WEB-INF/wsdl/localhost_8080/p1ServerSOAP/calculaComparaFechas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServiceSOAP/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServiceSOAP/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="calculaComparaFecha" type="tns:calculaComparaFecha"/>

<xs:element name="calculaComparaFechaResponse" type="tns:calculaComparaFechaResponse"/>

<xs:complexType name="calculaComparaFecha">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="dia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculaComparaFechaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>