EPD7/p5/src/conf/xml-resources/web-service-references/Almacen/wsdl/localhost_8080/p3/Almacen.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://libros/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://libros/">

<xs:element name="consultaLibrosDisponibles" type="tns:consultaLibrosDisponibles"/>

<xs:element name="consultaLibrosDisponiblesResponse" type="tns:consultaLibrosDisponiblesResponse"/>

<xs:complexType name="consultaLibrosDisponibles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultaLibrosDisponiblesResponse">
<xs:sequence>
<xs:element name="return" type="tns:libro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="libro">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="isbn" type="xs:int"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>